<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.vava.address.mapper.VillagesMapper">

    <resultMap type="top.vava.address.entity.Villages" id="VillagesMap">
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="streetcode" column="streetCode" jdbcType="INTEGER"/>
        <result property="areacode" column="areaCode" jdbcType="INTEGER"/>
        <result property="citycode" column="cityCode" jdbcType="INTEGER"/>
        <result property="provincecode" column="provinceCode" jdbcType="INTEGER"/>
    </resultMap>

    <!-- 批量插入 -->
    <insert id="insertBatch" keyProperty="" useGeneratedKeys="true">
        insert into china_area.villages(code, name, streetCode, areaCode, cityCode, provinceCode)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.code}, #{entity.name}, #{entity.streetcode}, #{entity.areacode}, #{entity.citycode}, #{entity.provincecode})
        </foreach>
    </insert>
    <!-- 批量插入或按主键更新 -->
    <insert id="insertOrUpdateBatch" keyProperty="" useGeneratedKeys="true">
        insert into china_area.villages(code, name, streetCode, areaCode, cityCode, provinceCode)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.code}, #{entity.name}, #{entity.streetcode}, #{entity.areacode}, #{entity.citycode}, #{entity.provincecode})
        </foreach>
        on duplicate key update
code = values(code) , name = values(name) , streetCode = values(streetCode) , areaCode = values(areaCode) , cityCode = values(cityCode) , provinceCode = values(provinceCode)     </insert>

</mapper>

